{{ form_start(form) }}
    {% if not  app.user  %}
    {% do form.roles.setRendered() %}
    {% endif %}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
