{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title 'Edit' %}

{% block body %}
    <div class="containe mt-4">
        <h1 class="text-center"> Editer le bien </h1>
        <div class="container">
        {{ form_start(form) }}
            {{ form_rest(form) }}
        <button class="btn btn-primary "> Editer </button>
        {{ form_end(form) }}
        </div>
    </div>



{% endblock %}