{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title 'Edit' %}

{% block body %}
    <div class="containe mt-4">
        <h1 class="text-center"> ajouter une annonces  </h1>

    </div>



{% endblock %}