{% extends "base.html.twig" %}

{% block title 'Annonces' %}

{% block body %}
 <div class = "container mt-4 text-center"> 
    <h1> Bienvenue des annonces </h1>
 </div>
    <div class="text-center">
    <button   type="button" class="btn btn-primary">
        <a href="{{path('annonces.new')}}" class="text-light"> Ajouter une annonces </a>
    </button>
    </div>

{% endblock %}
